<!DOCTYPE html>
<html>
  <head>
    <title>Angular + Fabric</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" media="screen" charset="utf-8">
    <script src="bower_components/angular/angular.min.js" charset="utf-8"></script>
    <script src="bower_components/fabric/dist/fabric.min.js" charset="utf-8"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js" charset="utf-8"></script>
    <script src="js/ngFabric.js" charset="utf-8"></script>
    <script src="js/app.js" charset="utf-8"></script>
  </head>
  <body ng-app="wanderDemo">
    <div class="container">
      <h1>Shoe builder demo</h1>
    </div>
    <div ng-controller="DemoCtrl" class="container">
      <div class="col-md-9">
        <canvas width="800" height="500" fabric ng-model="canvas"></canvas>
      </div>
      <div class="col-md-3">
        <section>
          <h2>Controls</h2>
          <div class="">
            <div ng-repeat="color in shoeFabricColors" style="background-color: {{color}}; height: 20px;" ng-click="changeColor($index)">
            </div>
          </div>
          <button type="button" class="btn btn-primary" ng-click="download()">
            Download Image
          </button>

        </section>
      </div>
      <div class="log col-md-12">
        <div ng-repeat="action in log">
          {{action.msg}}
        </div>
      </div>
    </div>
  </body>
</html>
